In [4]:
import numpy as np
import pandas as pd
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

In [5]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
s1=pd.Series([1,2,3,4],index=['usa','japan','india','ussr'])

In [14]:
s1

usa      1
japan    2
india    3
ussr     4
dtype: int64

In [15]:
s2=pd.Series([1,2,3,4],index=['usa','germany','india','brazil'])

In [16]:
s2

usa        1
germany    2
india      3
brazil     4
dtype: int64

In [17]:
s1['usa']

1

In [18]:
s1+s2

brazil     NaN
germany    NaN
india      6.0
japan      NaN
usa        2.0
ussr       NaN
dtype: float64